<p id="notice"><%= notice %></p>


  <strong>Content:</strong>
  <div class="alert alert-info" role="alert"> <%= raw @lecture.content %>
</div>
 

<p>
  <strong>Attachment:</strong>
  <%= @lecture.attachment %>
</p>
<%= link_to 'download', download_lecture_path, :class =>'btn btn-info' %>

<p>
  <strong>Course:</strong>
  <%= @lecture.course.title %>

</p>
<strong>Comments:</strong>


<% @lecture.comment_threads.each do |comment| %>
  <div class="alert alert-info" role="alert">
 <span style="color:red"> <%= comment.user.name %> </span>: <%= comment.body %>
  </div>
<% end %>

 <%= form_tag comment_lecture_path, :method => :post do %>

<%= text_field_tag "comment" %>

<%= submit_tag "comment" , :class =>'btn btn-success'%>
<% end %>
<br>
<%= link_to dislike_lecture_path(@lecture), :class =>'btn btn-success', method: :post do %>
  dislike
  <%= @lecture.get_downvotes.size %>
  <% end %>

<%= link_to like_lecture_path(@lecture), :class =>'btn btn-info', method: :post do %>
  like
  <%= @lecture.get_upvotes.size %>
<% end %>

<%= link_to 'Edit', edit_lecture_path(@lecture), :class =>'btn btn-success' %> |
<%= link_to 'Back', lectures_path , :class =>'btn btn-warning'%>
