<p id="notice"><%= notice %></p>

<p>

  <strong>Title:</strong>
  <%= @course.title %>
</p>
<h3> content of lectures </h3>
<ol>
<% @course.lectures.each do |lecture| %>
  
<li><%= link_to (raw lecture.content) , lecture %></li>

<%end%>
</ol>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
