<!DOCTYPE html>
<html>
  <head>
    <title>MOOC</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  
<div class="container">
<div class="alert alert-danger">
<% if current_user %>
<img src="<%= current_user.image %>" height="42" width="42"/>
user : <strong><%= current_user.name %></strong>
  <%= link_to 'log out', destroy_user_session_path, :method => :delete, class:"btn btn-danger" %>

  <%= link_to 'courses', courses_path, :method => :get, class:"btn btn-info" %>
  <%= link_to 'lectures', lectures_path, :method => :get, class:"btn btn-warning" %>
  <%elsif%>
  <%= link_to 'Signup', new_user_registration_path, :method => :get, class:"btn btn-warning" %>

  <%end%>
</div>
    <%= yield %>
    </div>
  </body>
</html>
